*
  box-sizing: border-box;
body,html
  font-family  'Roboto','Microsoft JhengHei','Heiti TC',sans-serif;
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  font-size: 16px
  background-color: #fff
@media screen and (max-width: 960px)
  body,html
    font-size: 16px
a
  text-decoration: none;
  color #333
img
  max-width: 100%
  vertical-align: middle
h1,h2,h3,h4,h5
  font-weight: normal
  margin:  0
x-inner(){
  max-width 1044px
  margin 0 auto
  padding 0 10px
}
.hide
  display none
ul
  margin: 0;
  list-style-type: none;
  padding: 0;
input
  border 0
  padding 5px
  &:focus
    outline: 0;
